<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page - TODO</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('includes') %>
    <script>
      const listData = <%- JSON.stringify(todos) %> || {};
    </script>

  </head>
  <%- include('partials/_header') %>
  <body>
    <!-- TODO: Remove Cards and todo items to components -->
    <%- include('partials/_hero-banner', {headerText: "INSPIRING & ELEVATING <br> YOUR TO-DO LISTS."}) %>
    <a id="home-cta" href="#home-cta">
      <p>Explore Your To-Dos Below</p>
      <i class="fa-solid fa-chevron-down"></i>
    </a>
    <main>

      <section class="home-quick-todo">
        <h1>Quick Add a ToDo</h1>
          <form id="todoForm" action="/api/todo/categorize" method="POST">
            <input id="itemName" name="itemName" class="task-name" type="text" placeholder="What do you need to do?" required/>
              <button class="default-btn" type="submit">
                  <i class="fa-solid fa-magnifying-glass"></i>
                  Search
              </button>
          </form>

          <!-- Section: Category announcement and manual change dropdown -->
          <div>
              <label for="categoryDropdown">This is added to:</label>
              <select id="categoryDropdown" class="select-list" name="lists" >
                  <option value="ToWatch">Watchlist</option>
                  <option value="ToEat">Restaurants</option>
                  <option value="ToRead">Books</option>
                  <option value="ToBuy">Products</option>
                  <option value="Uncategorized">Uncategorized</option>
              </select>

              <button id="manualChangeButton" class="default-btn" type="submit">
                  Confirm Change
              </button>
          </div>
          <!-- Add a section to display the error if items already in the list -->
          <div class="error-container"></div>

          <!-- Add a section to display the information -->
          <div id="displayInformation">
<!--              <h6>This is display info</h6>-->
          </div>
      </section>

      <section class="home-lists">
        <h1>What have you got to do?</h1>
        <% console.log('lists', lists)
          for(const list of lists) {
           %>
          <h5><%- list.name %></h5>
        <% } %>
        <div class="flex-row-container">
          <!-- This will loop over all the lists for a user and display them. For styling purposes, they're hard-coded at the moment -->
          <div class="todo-list-card">
            <div class="square-card">
              <img
                src="https://developers.elementor.com/docs/assets/img/elementor-placeholder-image.png"
              />
            </div>
            <span class="paragraph">List Name →</span>
          </div>

          <div class="todo-list-card">
            <div class="square-card">
              <img
                src="https://developers.elementor.com/docs/assets/img/elementor-placeholder-image.png"
              />
            </div>
            <span class="paragraph">List Name →</span>
          </div>

          <div class="todo-list-card">
            <div class="square-card">
              <img
                src="https://developers.elementor.com/docs/assets/img/elementor-placeholder-image.png"
              />
            </div>
            <span class="paragraph">List Name →</span>
          </div>

          <div class="todo-list-card">
            <div class="square-card">
              <img
                src="https://developers.elementor.com/docs/assets/img/elementor-placeholder-image.png"
              />
            </div>
            <span class="paragraph">List Name →</span>
          </div>
        </div>
      </section>

      <section class="home-todos-glance">
        <h1>To-Dos At-A-Glance</h1>
        <section id="display-tasks"></section>
      </section>
    </main>

    <%- include('partials/_footer') %>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/scripts/client.js"></script>
    <script src="/scripts/dropdown-category.js"></script>
    <script src="/scripts/manual-change.js"></script>

  </body>
</html>
