<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page - TODO</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('includes') %>

  </head>
  <%- include('partials/_header') %>
  <body>
    <!-- TODO: Remove Cards and todo items to components -->
    <%- include('partials/_hero-banner') %>
    <a id="home-cta" href="#home-cta">
      <p>Explore Your To-Dos Below</p>
      <i class="fa-solid fa-chevron-down"></i>
    </a>
    <main>
        <%- include('partials/todo_input_form.ejs') %>

      <section class="home-quick-todo">
        <h1>Quick Add a ToDo</h1>
        <form>
          <input class="task-name" type="text" placeholder="What do you need to do?" />
          <select class="select-list" name="lists">
              <optgroup label="Add to list">
                <option value="" selected disabled hidden>Add to list</option>
                <option value="create new list">+ Create a new list</option>
              </optgroup>
          </select>
          <button class="default-btn" type="submit">+ Add ToDo</button>
        </form>
      </section>


      <section class="home-lists">
        <h1>What have you got to do?</h1>
        <div class="flex-row-container">
          <!-- This will loop over all the lists for a user and display them. For styling purposes, they're hard-coded at the moment -->
          <div class="todo-list-card">
            <div class="square-card">
              <img
                src="https://developers.elementor.com/docs/assets/img/elementor-placeholder-image.png"
              />
            </div>
            <span class="paragraph">List Name →</span>
          </div>

          <div class="todo-list-card">
            <div class="square-card">
              <img
                src="https://developers.elementor.com/docs/assets/img/elementor-placeholder-image.png"
              />
            </div>
            <span class="paragraph">List Name →</span>
          </div>

          <div class="todo-list-card">
            <div class="square-card">
              <img
                src="https://developers.elementor.com/docs/assets/img/elementor-placeholder-image.png"
              />
            </div>
            <span class="paragraph">List Name →</span>
          </div>

          <div class="todo-list-card">
            <div class="square-card">
              <img
                src="https://developers.elementor.com/docs/assets/img/elementor-placeholder-image.png"
              />
            </div>
            <span class="paragraph">List Name →</span>
          </div>
        </div>
      </section>

      <section class="home-todos-glance">
        <h1>ToDos At-A-Glance</h1>
        <%- include('partials/_task-item', {completed: true}) %>
        <%- include('partials/_task-item', {completed: false}) %>
        <%- include('partials/_task-item', {completed: false}) %>
        <%- include('partials/_task-item', {completed: false}) %>
      </section>
    </main>
    <footer>
      <h6>Smart ToDo App</h6>
      <p>Some Link</p>
      <p>Some Link</p>
      <p>Some Link</p>
      <p>Some Link</p>
    </footer>
    <script src="/scripts/dropdown-category.js"></script>
  </body>
</html>
