<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page - TODO</title>
    
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('includes') %>
    
  </head>
  <%- include('partials/_header') %>
  <body>
    <!-- 
  <h1>Heading - Montserrat Semi-Bold, 36px</h1>
  <h3>Sub-heading - Lora Medium, 30px</h3>
  <h5>Paragraph Section - Nunito Medium Italic, 20px</h5>
  <p>Paragraph - Nunito Regular, 16px</p>
  -->
    <!-- TODO: Remove Cards and todo items to components -->
    <main>
      <section id="home-banner">
        <div id="hero-text" class="heading">Some text here</div>
      </section>

      <section id="home-quick-todo">
        <h1>Quick Add a ToDo</h1>
        <form>
          <input type="text" placeholder="What do you need to do?" />
          <select name="lists">
            <option value="" selected disabled hidden>Add to list</option>
            <option value="create new list">+ Create a new list</option>
          </select>
          <button class="default-btn" type="submit">+ Add ToDo</button>
        </form>
      </section>

      <section id="home-lists">
        <h1>What have you got to do?</h1>
        <div class="flex-row-container">
          <!-- This will loop over all the lists for a user and display them. For styling purposes, they're hard-coded at the moment -->
          <div class="todo-list-card">
            <div class="square-card">
              <img
                src="https://developers.elementor.com/docs/assets/img/elementor-placeholder-image.png"
              />
            </div>
            <span class="paragraph">List Name →</span>
          </div>

          <div class="todo-list-card">
            <div class="square-card">
              <img
                src="https://developers.elementor.com/docs/assets/img/elementor-placeholder-image.png"
              />
            </div>
            <span class="paragraph">List Name →</span>
          </div>

          <div class="todo-list-card">
            <div class="square-card">
              <img
                src="https://developers.elementor.com/docs/assets/img/elementor-placeholder-image.png"
              />
            </div>
            <span class="paragraph">List Name →</span>
          </div>

          <div class="todo-list-card">
            <div class="square-card">
              <img
                src="https://developers.elementor.com/docs/assets/img/elementor-placeholder-image.png"
              />
            </div>
            <span class="paragraph">List Name →</span>
          </div>
        </div>
      </section>

      <section id="home-todos-glance">
        <h1>ToDos At-A-Glance</h1>
        <%- include('partials/_task-item') %>
        <%- include('partials/_task-item') %>
        <%- include('partials/_task-item') %>
        <%- include('partials/_task-item') %>
      </section>
    </main>
    <footer>
      <h6>Smart ToDo App</h6>
      <p>Some Link</p>
      <p>Some Link</p>
      <p>Some Link</p>
      <p>Some Link</p>
    </footer>
  </body>
</html>
