<!DOCTYPE html>
<html>
  <head>
    <!-- replace "List" with variable -->
    <title><%- headerText %></title>

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('includes') %>

    <script>
      const listData = <%- JSON.stringify(todos) %> || {};
    </script>
  </head>
  <%- include('partials/_header') %>
  <body>
    <%- include('partials/_hero-banner', {headerText}) %>
    <main>
      <section class="home-lists">
        <h1>Explore your lists</h1>

        <div class="flex-row-container">
          <% if(lists.length > 0){ for(const list of lists) { %> <%-
          include('partials/_todo-list-card', {listName: list.name, listIcon:
          list.icon_url}) %> <% } } else { %> <%-
          include('partials/_todo-list-card', {listName: 'Creat A New List',
          listIcon: '/icons/question.png'}) %> <% } %>
        </div>
      </section>

      <div class="content-plus-filter">
        <span class="filter-box">
          <h3>Filter To-Dos</h3>
          <form action="" method="POST" class="filter-todos">
            <span>
              <label for="filter-todos">Sort To-Dos By:</label>
              <select id="filter-todos" class="select-list" name="sort-by">
                <option value="oldest-first">Oldest First</option>
                <option value="newest-first">Newest First</option>
                <option value="AtoZ">A-Z</option>
                <option value="ZtoA">Z-A</option>
                <option value="completion">Completion</option>
                <option value="due-date">Due Date</option>
              </select>
            </span>
            <span>
              <input
                type="checkbox"
                id="completed-only"
                name="completed-only"
                value="completed-only"
                checked
              />
              <label for="completed-only">Completed</label>
            </span>
            <span>
              <input
                type="checkbox"
                id="in-progress-only"
                name="in-progress-only"
                value="in-progress-only"
                checked
              />
              <label for="in-progress-only">In Progress</label>
            </span>
            <button type="submit" value="submit" class="default-btn">
              Filter
            </button>
          </form>
        </span>

        <section id="display-tasks"></section>
      </div>
    </main>
    <%- include('partials/_footer') %>
  </body>
</html>
